@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'daisyui/index.js';

:root {
  --font-en: "Inter", sans-serif;
  --font-ar: "Amiri", sans-serif;
}

body {
  font-family: "Inter", "Amiri", sans-serif;
}
.font-en {
  font-family: var(--font-en);
}

.font-ar {
  font-family: var(--font-ar);
}